@media screen and (max-width:1001px) {
    /* ====Header section starts here ==== */
    .nav-desktop{
        display: none;
    }
.nav-mobile{
    display: flex;
}
    /* ====Header section ends here ==== */

    
    /* ====Header banner section starts here ==== */
    .banner-content-container{
        padding-top: 95px;
    }

    .banner-textcontainer{
        width: 100%;
    }
    /* ====Header banner section ends here ==== */

/* ====About us section starts here==== */
.about-us-container{
    justify-content: center;
}

.about-us-cards-img{
    min-width: 350px;
    height: 285px;
}

.about-us-cards-text{
    width: 90%;
    margin: 20px 0;
}
/* ====About us section ends here==== */

/* ====Explore foods section starts here==== */
.food-card-item{
    margin: 20px 0;
}
/* ====Explore foods section ends here==== */



/* ====FAQ section starts here==== */
.faq-item{
    min-width: 100%;
    padding: 0 10px;
}
/* ====FAQ section ends here==== */

/* ====Parallax section starts here==== */
.parallax{
    flex-direction: column;
    padding: 0 25px;
    text-align: center;
}
/* ====Parallax section ends here==== */

/* ====Footer section starts here==== */
footer{
    display: flex;
    flex-direction: column;
}

footer p{
    text-align: center;
}

.footer-icon-container{
    margin: 15px 0;
}
/* ====Footer section ends here==== */










}
